/* Global Styling */
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    background-color: rgba(216, 201, 174);
}

img{
    width: 100%;
    height: auto;
}

body {
    font-family: 'Quicksand','Open Sans', sans-serif;
}

/* Navigation Bar */
header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 10%;
    height: 50px;
    margin-top: 1%;
    font-family: "amandine", sans-serif;
}

.logo {
    margin-top: 0;
    line-height: 50px;
    font-size: 2.5rem;
}


.logo a {
    text-decoration: none;
    color: rgb(204, 149, 127);
    font-weight: 700;
}

.main_nav ul {
    list-style-type: none;
    text-align: center;
    font-size: 0;
}

.main_nav li {
    font-size: 1.5rem;
    height: 50px;
    width: 120px;
    display: inline-block;
}

.main_nav a {
    display: block;
    text-decoration: none;
    line-height: 50px;
    color: rgb(204, 149, 127);
    font-weight: 700;
}

.main_nav a:hover {
    color: rgb(238, 235, 234);
}

.logo a:hover {
    color: rgb(238, 235, 234);
}

/* Footer */
.footer_flex {
    display: flex;
    margin: 2rem auto;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    padding: 0 5%;
    background-color: rgba(227, 218, 202);
    border-radius: 25px;
}

.footer_flex a {
    text-decoration: none;
    color: black;
}

.footer_flex h2 {
    font-family: "amandine", sans-serif;
}

.footer_flex h3 {
    font-family: "amandine", sans-serif;
}

.footer_flex .hours {
    text-align: center;
}

/* Desktop First Styling */
.menu_container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 85%;
    align-items: center;
    margin: 3rem auto;
    font-family: 'Quicksand','Open Sans', sans-serif;  
}
.column_left {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.column_right {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
/* left column specifics */
.page_title {
    color: rgb(0, 0, 0);
    background-color: rgba(177, 183, 141, 0.85);
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 25px;
    margin-top: 0;
    width: 20%;
    text-align: center;
    font-size: large;
}
.coffee_shades {
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 25px;
    width: 75%;
}
.coffee_shades img {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 30%; 
    overflow: hidden;
}
.drinks {
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 25px;
    width: 75%;
}
.pastries {
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 25px;
    width: 75%;
}

/* right column specifics */
.drink_menu {
    color: rgb(238, 235, 234);
    background-color: rgb(182, 155, 139);
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 25px;
    width: 75%;
}
.flavors {
    color: rgb(238, 235, 234);
    background-color: rgb(134, 110, 79);
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 25px;
    width: 75%;
}
.teas {
    color: rgb(238, 235, 234);
    background-color: rgba(149,102,65);
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 25px;
    width: 75%;
}
.pastry_menu {
    color: rgb(238, 235, 234);
    background-color: rgb(89, 47, 34);
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 25px;
    width: 75%;
}

/* Responsive Sizing */