/* Global Styling */
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    background-color: rgba(216, 201, 174);
}

img{
    width: 100%;
    height: auto;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* Navigation Bar */
header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 10%;
    height: 50px;
    position: fixed;
    z-index: 100;
    margin-top: 1%;
    font-family: "amandine", sans-serif;
}

.logo {
    margin-top: 0;
    line-height: 50px;
    font-size: 2.5rem;
}


.logo a {
    text-decoration: none;
    color: rgb(238, 235, 234);
    font-weight: 600;
}

.main_nav ul {
    list-style-type: none;
    text-align: center;
    font-size: 0;
}

.main_nav li {
    font-size: 1.5rem;
    height: 50px;
    width: 120px;
    display: inline-block;
}

.main_nav a {
    display: block;
    text-decoration: none;
    line-height: 50px;
    color: rgb(238, 235, 234);
    font-weight: 700;
}

.main_nav a:hover {
    color: rgb(204, 149, 127);
}

.logo a:hover {
    color: rgb(204, 149, 127);
}

/* Footer */
.footer_flex {
    display: flex;
    margin: 2rem auto;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    padding: 0 5%;
    background-color: rgba(227, 218, 202);
    border-radius: 25px;
}

.footer_flex a {
    text-decoration: none;
    color: black;
}

.footer_flex h2, h3{
    font-family: "amandine", sans-serif;
}

.footer_flex .hours {
    text-align: center;
}

/* Desktop First Styling */
/* Styling for the jumbotron */
div.hero {
    top: 15%;
    width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    position: relative;
    margin-bottom: 2rem;
}
.hero article {
    position: absolute;
    top: 12%;
    left: 25%;
    width: 50%;
    padding: 1%;
    background-color:rgba(227, 218, 202, 0.85);
    border-radius: 35px;
}
.hero article h1 {
    text-align: center;
}
.hero article p {
    padding: 0 3%;
    text-align: justify;
}

/* Styling for the Barista Highlights */
.container {
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgba(179, 149, 131);
    border-radius: 35px;
}
.thumb {
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 30%; 
    overflow: hidden;
    /* flex: 0 0 30%; This is the shorthand of above*/
    margin: 24px auto;
}

.mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background-color: rgba(238, 235, 234, 0.75);
    transition: all 0.5s ease-in-out;
}

.mask h2 {
    margin: 0;
    font-weight: 700;
}

.mask p {
    font-style: italic;
    padding: 5%;
    align-content: center;
    text-align: justify;
    font-weight: 300;
}

.thumb:hover .mask{
    opacity: 1;
}

.thumb .mask h2, 
.thumb .mask p,
.thumb .mask a {
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s ease-in-out;
}

.thumb:hover .mask h2, 
.thumb:hover .mask p,
.thumb:hover .mask a {
    opacity: 1;
    transform: scale(1);
}

/* Responsive Sizing */