/* Global Styling */
* {
    box-sizing: border-box;
}

html body{
    margin: 0;
    background-color: rgba(216, 201, 174);
}

img{
    width: 100%;
    height: auto;
}

body {
    font-family: 'Quicksand','Open Sans', sans-serif;
}

/* Navigation Bar */
.navbar .container-fluid{
    background-color: rgba(216, 201, 174);
    font-family: "amandine", sans-serif;
}

.navbar {
    height: 75px;
    z-index: 1;
}

.container-fluid .navbar-brand{
    font-size: 2.5rem;
    color: rgb(204, 149, 127);
}

.navbar-brand {
    font-weight: 700;
    margin-left: 2.5%;
}

.navbar-collapse{
    justify-content: right;
}

.navbar-nav {
    list-style-type: none;
    text-align: center;
    margin-right: 2.5%;
}

.navbar-nav .nav-link{
    color: rgb(204, 149, 127);
}

.nav-item {
    font-size: 2rem;
}

.container-fluid .navbar-nav .nav-link.active {
    color: rgb(238, 235, 234);
}

.nav-link {
    display: block;
    line-height: 50px;
    font-weight: 600;
}


.nav-item a:hover {
    color: rgb(238, 235, 234);
}

.container-fluid .navbar-brand:hover {
    color: rgb(238, 235, 234);
}

/* Footer */
.footer_flex {
    display: flex;
    margin: 2rem auto;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    padding: 0 5%;
    background-color: rgba(227, 218, 202);
    border-radius: 25px;
}

.footer_flex a {
    text-decoration: none;
    color: black;
    font-family: 'Quicksand','Open Sans', sans-serif;
}

.footer_flex h2 {
    font-family: "amandine", sans-serif;
}

.footer_flex h3 {
    font-family: "amandine", sans-serif;
}

.footer_flex p {
    font-family: 'Quicksand','Open Sans', sans-serif;
}

.footer_flex .hours {
    font-family: 'Quicksand','Open Sans', sans-serif;
    text-align: center;
}

.footer_flex button {
    font-family: "amandine", sans-serif;
    font-size: 1.5rem;
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-weight: 600;
    font-stretch: expanded;
    background-color: rgba(204, 149, 127, 0.51) ;
}

.footer_flex button:hover {
    color: black;
}

/* Desktop First Styling */
.page_title {
    color: rgb(52, 49, 48);
    background-color: rgba(177, 183, 141, 0.85);
    border-radius: 15px;
    padding: 15px;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 2%;
    width: 75%;
    text-align: center;
    font-size: large;
    font-family: "amandine", sans-serif;
}
.container {
    font-family: 'Quicksand','Open Sans', sans-serif;  
}

/* Left Column Specific */
.hours_block {
    background-color: rgba(217, 204, 200, 0.85);
    border-radius: 35px;
    padding-bottom: 10px;
    margin-bottom: 5%;
    margin-right: 2%;
}
.hours_block h3 {
    text-align: center;
    font-family: "amandine", sans-serif;
    font-size: 1.25rem;
    margin:0;
    padding-top: 15px;
}
.left {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.right {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-right: 5px;
}
.hours_dates {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    justify-content:space-between;
}

.hours_dates h4 {
    margin-top: 15px;
    font-size: 1.25rem;
    font-family: 'Quicksand','Open Sans', sans-serif;  
}

.hours_dates p {
    font-family: 'Quicksand','Open Sans', sans-serif;  
}


.location_block {
    background-color: rgba(169, 155, 148, 0.85);
    border-radius: 35px;
    padding-bottom: 10px;
    margin-bottom: 5%;
}
.location_block h3 {
    text-align: center;
    font-family: "amandine", sans-serif;
    font-size: 1.25rem;
    margin:0;
    padding-top: 15px;
}
.address_trains {
    display: flex;
    text-align: center;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}
.address_trains h4 {
    padding-top: 25px;
    font-size: 1.15rem;
}
.address_trains p {
    padding-top: 5px;
    font-size: 1rem;
}

.embedded_map {
    background-color: rgba(189, 195, 177, 0.85);
    border-radius: 35px;
    padding-bottom: 10px;
    align-items: center;
    text-align: center;
    margin-bottom: 5%;
}
.embedded_map h3 {
    text-align: center;
    font-family: "amandine", sans-serif;
    font-size: 1.25rem;
    margin:0;
    padding-top: 15px;
    padding-bottom: 15px;
}
.embedded_map iframe {
    display: flex;
    border-radius: 15px;
    padding: 0;
    margin-left: 38%;
    margin-bottom: 2%;
}

/* Right Column Specific */
.contact_about {
    background-color: rgba(155, 166, 162, 0.85);
    border-radius: 25px;
    padding: 1% 5%;
    text-align: left;
    margin: 5%;
    margin-left: 2%;
}
.contact_about h2 {
    font-family: "amandine", sans-serif;
    font-size: 1.25rem;
}

.contact_about p {
    font-family: 'Quicksand','Open Sans', sans-serif;
}

form {
    background-color: rgba(204, 149, 127, 0.85);
    border-radius: 25px;
    padding: 7%;
    align-items: center;
    margin-bottom: 50px;
}
form label {
    font-family: "amandine", sans-serif;
    font-size: 1.25rem;
    font-weight: 550;
    font-stretch: expanded;
    margin-left: 15%;
}

.form_items {
    padding-left: 22%;
}
.submit {
    margin-left: 34%;
}

.form_items input {
    font-family: 'Quicksand','Open Sans', sans-serif;
    font-size: 1.15rem;
    border-style: none;
    border-radius: 7px;
    padding-left: 15px;
    margin-bottom: 15px;
    background-color: rgba(242, 242, 242, 0.85);
}
form input {
    font-family: 'Quicksand','Open Sans', sans-serif;
    font-size: 1.15rem;
    border-style: none;
    border-radius: 7px;
    margin-left: 15%;
    background-color: rgba(242, 242, 242, 0.85);
}


/* Responsive Sizing */
@media screen and (max-width:767px) {

    .footer_flex span {
        display: none;
    }
    .footer_flex button {
       margin: 5% 35%;
    }

}

@media screen and (max-width:1024px) {
    .embedded_map iframe{
        margin-left: 35%;
    }
}

@media screen and (max-width:768px) {
    .embedded_map iframe{
        margin-left: 27%;
    }
}

@media screen and (max-width:425px) {
    .embedded_map iframe{
        margin-left: 15%;
    }
}

@media screen and (max-width: 375px) {
    .embedded_map iframe{
        margin-left: 10%;
    }
}

@media screen and (max-width: 320px) {
    .embedded_map iframe{
        margin-left: 0%;
    }
}