/* Global Styling */
* {
    box-sizing: border-box;
}

html body{
    margin: 0;
    background-color: rgba(216, 201, 174);
}

img{
    width: 100%;
    height: auto;
}

body {
    font-family: 'Quicksand','Open Sans', sans-serif;
}

/* Navigation Bar */
.navbar .container-fluid{
    background-color: rgba(216, 201, 174);
    font-family: "amandine", sans-serif;
}

.navbar {
    height: 75px;
    z-index: 1;
}

.container-fluid .navbar-brand{
    font-size: 2.5rem;
    color: rgb(204, 149, 127);
}

.navbar-brand {
    font-weight: 700;
    margin-left: 2.5%;
}

.navbar-collapse{
    justify-content: right;
}

.navbar-nav {
    list-style-type: none;
    text-align: center;
    margin-right: 2.5%;
}

.navbar-nav .nav-link{
    color: rgb(204, 149, 127);
}

.nav-item {
    font-size: 2rem;
}

.container-fluid .navbar-nav .nav-link.active {
    color: rgb(238, 235, 234);
}

.nav-link {
    display: block;
    line-height: 50px;
    font-weight: 600;
}


.nav-item a:hover {
    color: rgb(238, 235, 234);
}

.container-fluid .navbar-brand:hover {
    color: rgb(238, 235, 234);
}

/* Footer */
.footer_flex {
    display: flex;
    margin: 2rem auto;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    padding: 0 5%;
    background-color: rgba(227, 218, 202);
    border-radius: 25px;
}

.footer_flex a {
    text-decoration: none;
    color: black;
    font-family: 'Quicksand','Open Sans', sans-serif;
}

.footer_flex h2 {
    font-family: "amandine", sans-serif;
}

.footer_flex h3 {
    font-family: "amandine", sans-serif;
}

.footer_flex p {
    font-family: 'Quicksand','Open Sans', sans-serif;
}

.footer_flex .hours {
    font-family: 'Quicksand','Open Sans', sans-serif;
    text-align: center;
}

.footer_flex button {
    font-family: "amandine", sans-serif;
    font-size: 1.5rem;
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-weight: 600;
    font-stretch: expanded;
    background-color: rgba(204, 149, 127, 0.51) ;
}

.footer_flex button:hover {
    color: black;
}

/* Desktop First Styling */
.container-fluid .row {
    margin-top: 5%;
}

.row {
    justify-content: center;
}

.clearfix{
    margin-left: 3.5%;
}

/* left column specifics */
.page_title {
    color: rgb(52, 49, 48);
    background-color: rgba(177, 183, 141, 0.85);
    border-radius: 15px;
    margin: 25px;
    padding: 7%;
    width: 25%;
    text-align: center;
    font-family: "amandine", sans-serif;
    font-size: 2rem;
}
.coffee_shades {
    border-radius: 15px;
    padding: 5%;
    margin: 25px;
    width: 75%;
    background-color: rgba(217, 204, 200, 0.85);
}
.coffee_shades img {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 30%; 
    overflow: hidden;
}
.drinks {
    border-radius: 15px;
    padding: 5%;
    margin: 25px;
    width: 75%;
    background-color: rgba(213, 217, 200, 0.85);
}
.drinks img {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 30%; 
    overflow: hidden;
}
.croissants {
    border-radius: 15px;
    padding: 5%;
    margin: 25px;
    width: 75%;
    background-color: rgba(203, 177, 137, 0.85);
}
.croissants img {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 30%; 
    overflow: hidden;
}


/* right column specifics */
.drink_menu {
    color: rgb(238, 235, 234);
    background-color: rgb(182, 155, 139);
    border-radius: 15px;
    padding: 15px 0;
    margin: 15px;
    width: 75%;
}
.drink_menu h3 {
    text-align: center;
    font-family: "amandine", sans-serif;
    font-size: 1.5rem;
}
.drink_menu p {
    text-align: center;
    font-family: 'Quicksand','Open Sans', sans-serif;
}
.drink_menu ul {
    list-style-type: none;
    text-align:  right;
    padding-right: 15%;
    font-family: 'Quicksand','Open Sans', sans-serif;
}
.drink_menu h4 {
    font-size: large;
    font-weight: 500;
    text-align: left;
    padding-left: 15%;
    font-family: 'Quicksand','Open Sans', sans-serif;
}

.flavors {
    color: rgb(238, 235, 234);
    background-color: rgb(134, 110, 79);
    border-radius: 15px;
    padding: 15px 0;
    margin: 15px;
    width: 75%;
    text-align: center;
}
.flavors h3 {
    text-align: center;
    font-family: "amandine", sans-serif;
    font-size: 1.5rem;
}
.flavors ul {
    list-style-type: none;
    text-align: right;
    padding-right: 10%;
    font-family: 'Quicksand','Open Sans', sans-serif;
}

.teas {
    color: rgb(238, 235, 234);
    background-color: rgba(149,102,65);
    border-radius: 15px;
    padding: 15px 0;
    margin: 15px;
    width: 75%;

}
.teas h3 {
    text-align: center;
    font-family: "amandine", sans-serif;
    font-size: 1.5rem;
}
.teas p {
    text-align: center;
    font-family: 'Quicksand','Open Sans', sans-serif;
}
.teas ul {
    list-style-type: none;
    text-align:  right;
    padding-right: 15%;
    font-family: 'Quicksand','Open Sans', sans-serif;
}
.teas h4 {
    font-size: large;
    font-weight: 500;
    text-align:  left;
    padding-left: 15%;
    font-family: 'Quicksand','Open Sans', sans-serif;

}

.pastry_menu {
    color: rgb(238, 235, 234);
    background-color: rgb(89, 47, 34);
    border-radius: 15px;
    padding: 15px 0;
    margin: 15px;
    width: 75%;
}
.pastry_menu h3 {
    text-align: center;
    font-family: "amandine", sans-serif;
    font-size: 1.5rem;
}
.pastry_menu ul {
    list-style-type: none;
    text-align: justify;
    font-family: 'Quicksand','Open Sans', sans-serif;
}

.mobile_menu {
    display: none;
}


/* Responsive Sizing */
@media screen and (max-width:767px) {
    
    .footer_flex span {
        display: none;
    }
    .footer_flex button {
       margin: 5% 35%;
    }

    .menu_container {
        flex-direction: column;
        align-items: center;
    }

    .column_left{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        margin: 0;
        justify-content: center;
        width: 100%;
    }

    .column_right {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        margin: 0;
        justify-content: center;
        width: 100%;
    }

    .column_left div {
        width: 100%;
    }
    .column_right div {
        width: 100%;
    }

}